// colors

$color-1: #252525;
$color-2: #31302e;
$color-3: #fff;
$color-4: #b08838;
$color-5: #d07457;
$color-6: #c7b299;
$color-7: #74520e;
$color-8: #e9e3de;
$color-9: #969696;
$color-10: #3E3C3B;
$color-11: #c7b299;

//fonts

$font-1: 'Montserrat', sans-serif;
$font-2: 'Taviraj', serif;

// function px-to-rem

@function rem($pixel, $context:16){
  @return $pixel / $context + rem;
}

//mixins

@mixin type-1($size){
  font-family: $font-1;
  font-weight: 400;
  @if $size == 16{
    font-size: rem(16);
    line-height: rem(28, 16);
  }
  @if $size == 18{
    font-size: rem(18);
    line-height: rem(30, 18);
  }
    @if $size == 24{
    font-size: rem(24);
    line-height: rem(32, 24);
  }
  @if $size == 30{
    font-size: rem(30);
    line-height: rem(35, 30);
  }
  @else if $size == 60{
    font-size: rem(60);
    line-height: rem(60, 60);
  }
  @else if $size == 150{
    font-size: rem(150);
    line-height: rem(150, 150);
  }
}

@mixin type-2($size){
  font-family: $font-2;
  @if $size == 16{
    font-size: rem(16);
    line-height: rem(24, 16);
  }
  @if $size == 18{
    font-size: rem(18);
    line-height: rem(31, 18);
  }
    @if $size == 24{
    font-size: rem(24);
    line-height: rem(30, 24);
  }
  @if $size == 30{
    font-size: rem(30);
    line-height: rem(35, 30);
  }
  @else if $size == 60{
    font-size: rem(60);
    line-height: rem(220, 60);
  }
  @else if $size == 80{
    font-size: rem(80);
    line-height: rem(400, 80);
  }
  @else if $size == 104{
    font-size: rem(104);
    line-height: rem(676, 104);
  }
  @else if $size == 130{
    font-size: rem(130);
    line-height: rem(130, 130);
  }
}

@mixin margin-section{
  margin: 160px auto;
  @include d(s){
    margin: 60px auto;
  }
}

@mixin box-shadow($shadow...){
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin effect ($effect...){
  -webkit-transition: $effect;
  -moz-transition: $effect;
  -o-transition: $effect;
  transition: $effect;
}

@mixin btn-site {
  align-self: flex-end;
  @include type-1(16);
  display: block;
  color: currentColor;
  border: 2px solid currentColor;
  padding: 10px;
  width: 150px;
  margin-top: 60px;
  text-align: center;
  transition: .3s ease;
  text-transform: uppercase;

  @include d(x){
    margin-top: 30px;
  }

}


@mixin spacer{
  
  &::before{
    content: '';
    display: block;
    background: currentColor;
    width: 60px;
    height: 4px;
    
    @include d(s){
      margin-bottom: 15px;
    }
    
  }
  
}




    
    
    
    
    
    