/* Tooltip - Popover */
.tooltip,
.popover {
  color: $blue;
  cursor: pointer;
  position: relative;

  &-content {
    visibility: hidden;
    position: absolute;
    z-index: 200;
    bottom: calc(100% + 1.5rem);
    left: 2rem;
    width: 24rem;
    padding: 0.9375rem;
    border-radius: .5rem;
    transition: transform 0.3s, opacity 0.3s;
    transform: translate3d(0, 3rem, 0);
    opacity: 0;
    height: 0px;
    pointer-events: none;
    font-size: 1.6rem;
    line-height: 1.55;
    letter-spacing: -.01rem;
    font-style: italic;
    z-index: 10;

    &::before {
      content: "";
      width: 2rem;
      height: 2rem;
      display: block;
      position: absolute;
      transform: rotate(45deg);
      border-radius: 5px 0 0 0;
      bottom: -10px;
      left: 2rem;
    }
  }

  .tooltip-content {
    background: $lightBlack;
    color: white;

    &::before {
      background: $lightBlack;
    }
  }

  .popover-content {
    background: $lightGray;
    color: $lightBlack;

    &::before {
      background: $lightGray;
    }
  }

  &:hover {
    .tooltip-content {
      visibility: visible;
      opacity: .9;
      height: auto;
      -webkit-transform: translate3d(0, 0px, 0);
      transform: translate3d(0, 0px, 0);
    }
  }

  &.active {
    .popover-content {
      visibility: visible;
      opacity: .9;
      height: auto;
      -webkit-transform: translate3d(0, 0px, 0);
      transform: translate3d(0, 0px, 0);
    }
  }
}

.btn-inline {
  display: inline-block;
}

.btn-popover {
  @include btn;
}

figure.popover {
  max-width: 30rem;
  margin: 0 auto;

  figcaption {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .tooltip {
    &-content {
      width: 20rem;
    }
  }
}