[data-collapseGroup] [data-collapse="title"] {
  cursor: pointer;
}

.js [data-collapseGroup] [data-collapse="content"] {
  display: none;
}

[data-collapseGroup] [data-collapse="content"].active {
  display: block;
  animation: show-down .5s forwards;
}

[data-collapseGroup] [data-collapse="title"]::after {
  content: '⬎';
  margin-left: 10px;
}

[data-collapseGroup] [data-collapse="title"].active::after {
  content: '⬏';
  transform: rotate(90deg);
  transition: .3s
}