[data-dropdown] {
  position: relative;
}

[data-dropdown="menu-content"] {
  display: none;
  opacity: 0;
}

[data-dropdown="menu-content"].active{
  display: block;
  animation: show-up .3s forwards;
}

[data-dropdown="link"].active::after {
  transform: rotate(180deg);
}