<button data-btn="btn-navigation" class="btn-menu" aria-label="Menu principal"
></button>

<style>
  .btn-menu {
    display: grid;
    gap: 8px;
    padding: .5rem;
    margin-right: -.5rem;

    &::before,
    &::after {
      content: "";
      display: block;
      background-color: white;
      width: 1.5rem;
      height: 2px;
      border-radius: 0.25rem;
      transition: transform 0.2s ease;
    }

    &.active {
      margin-top: -1rem;
      &::before {
        transform: rotate(-45deg);
        position: relative;
        top: 10px;
      }

      &::after {
        transform: rotate(45deg);
      }
    }

    @media (min-width: 768px) {
      display: none;
    }
  }
</style>

<script>
  const btnMenu = document.querySelector(
    '[data-btn="btn-navigation"]' 
  ) as HTMLElement;
  const navMenu = document.querySelector('[data-nav="navigation"]') ;
  const mediaQueries = window.matchMedia("(min-width: 1024px)");

  btnMenu.onclick = () => {
    btnMenu?.classList.toggle("active");
    navMenu?.classList.toggle("active");
  };

  mediaQueries.onchange = () => {
    btnMenu?.classList.remove("active");
    navMenu?.classList.remove("active");
  };
</script>
