<ul class="redes-sociais">
  <li>
    <a
      href="https://www.linkedin.com/in/leandro-fialho-888666103"
      title="Linkedin" target="_blank">Linkedin</a>
  </li>
  <li>
    <a href="https://www.facebook.com/Lefialho13" title="Facebook" target="_blank">Facebook</a>
  </li>
  <li>
    <a href="https://www.instagram.com/leandro_fialho13" title="Instagram" target="_blank"
      >Instagram</a>
  </li>
</ul>

<style lang="scss">
  .redes-sociais {
    display: none;

    a:hover {
      text-decoration: underline;
      text-underline-offset: 4px;
    }

    @media (min-width: 1280px) {
      display: flex;
      gap: 1.25rem;
      font-size: 0.875rem;
      transform: rotate(-90deg) translateY(-50%);
      position: absolute;
      left: -40px;
      top: 50%;
      z-index: 20;
    }
  }
</style>
