
<nav class="tab-nav" data-tab="tab">
  <ul class="tab-nav_list">
    <slot name="tab-item">
  </ul>
</nav>

<section>
  <slot name="tab-content">
</section>


<style lang="scss" is:global>
  .tab-nav {
    overflow-x: auto;
    margin: 1.5rem 0 3rem;

    &_list {
      display: flex;
      border-bottom: 1px solid var(--secondary-color);
      justify-content: flex-start;
      align-items: center;
    }

    &_item {
      a {
        align-items: center;
        border-bottom: 4px solid transparent;
        display: flex;
        justify-content: center;
        margin-bottom: -1px;
        padding: 0.5em 1em;
        white-space: nowrap;
      }

      &.is-active {
        a {
          border-bottom-color: white;
        }
      }
    }
  }

  .tab-content {
    opacity: 0;
    display: none;

    &.is-active {
      display: block;
      animation: anime-in .3s ease-in-out forwards;
    }
  }
</style>

<script>
  const tabs = document.querySelectorAll('[data-tab="tab"] li');
  const TabsContent = document.querySelectorAll('[data-tab="content"]');
  const active = "is-active";

  tabs.forEach((tab) => {
    tab.addEventListener("click", (e) => {
      e.preventDefault();
      removeActiveTab();
      addActiveTab(tab);
    });
  });

  function removeActiveTab (){
    tabs.forEach((tab) => {
      tab.classList.remove(active);
    });
    TabsContent.forEach((content) => {
      content.classList.remove(active);
    });
  };

  function addActiveTab(tab: any) {
    const href = tab.querySelector("a").getAttribute("href");
    const target = document.querySelector(href);
    tab.classList.add(active);
    target.classList.add(active);
  };
</script>