---
interface Props {
  text: string;
}

const { text } = Astro.props;
---

<h1 class="title">{text}</h1>

<style lang="scss">
  .title {
    font-family: "Qwitcher Grypen", cursive;
    color: white;
    font-size: clamp(4rem, 4vw + 1rem, 5rem);;
    font-weight: 400;
  }
</style>