---
import Subtitle from "../Subtitle.astro";

interface Props {
  title: string;
  year: string;
  active?: boolean;
}

const { title, year, active } = Astro.props;
---

<div class="accordion_item">
  <button
    class=`accordion_title ${active ? ' active' : ''}`
    data-accordion="title"
  >
    <Subtitle
      ><span class="accordion_year">{year}</span>
      <span class="accordion_job">{title}</span>
    </Subtitle>
  </button>
  <div class="accordion_content"><slot /></div>
</div>

<script>
  const titles = document.querySelectorAll('[data-accordion="title"]');

  titles.forEach((title) => {
    title.addEventListener("click", () => {
      title.classList.toggle("active");
    });
  });
</script>
