---
import Image from "astro/components/Image.astro";
import whatsappSimbol from "../../assets/img/whatsapp.svg";
import Title from "../Title.astro";
import RedesSociais from "../RedesSociais.astro";
---

<RedesSociais />

<main>
  <Title text="Contato" />

  <div class="block-default" style="margin-top: 2rem;">
    <h2>Endereço:</h2>
    <p>Rua Antônio Marinho Saraiva, 180, apto 410 - Juiz de Fora | MG</p>
  </div>

  <div class="block-default">
    <h2>Telefone:</h2>
    <a
      class="telefone"
      target="_blank"
      href="https://wa.me/5532988010779?text=Ol%C3%A1!%20Visualizei%20o%20seu%20portf%C3%B3lio%20e%20gostaria%20de%20conhecer%20melhor%20o%20seu%20trabalho."
      >(32) 98801-0779 <Image
        src={whatsappSimbol}
        alt="Símbolo do Whatsapp"
      /></a
    >
  </div>

  <div class="block-default">
    <h2>Email:</h2>
    <p>leandrofialho13@gmail.com</p>
  </div>
</main>
